# Ignore the following directories:
.ipynb_checkpoints/
**/__pycache__/
#archive/
data/
docs/
notebooks/
outputs/
Python_code/
#sample_DROs/


# Ignore the following files:
*.log
*.txt
*.[0-9].txt
*.ipynb
*.docx
*.pptx
*.pdf
*.nii
*.csv
*.mat
*.npy
*.json
*.cfg
*.nii
*.tfm
*.dcm
*.avi
*.png
*.jpg
*.xlsx


# Re-include .dcm files in sample_DROs:
!sample_DROs/*.dcm


# Re-include .txt files in src:
!src/*.txt