# Ignore any files in any directory called:
.ipynb_checkpoints/
__pycache__/
archive
data
notebooks
Python_code
sample_DROs
src/configs/old
src/outputs
*.log
*.txt
*.[0-9].txt
*.ipynb
*.docx
*.pptx
*.pdf
*.nii
*.csv
*.mat
*.npy
*.json
*.cfg
*.nii
*.tfm
*.dcm
*.avi
*.png
*.jpg
*.xlsx
